
.back-img{
  background-image: url('https://jonatanramhoj.github.io/react-background-image//static/media/large.c5ff0983.jpg');
  }
  
  .myClass {
    display: block;
    }
  @media only screen and (max-width: 1600px) {
    .myClass {
      display: block;
    }
  }
  .span1 {
    position: absolute;
    top: 70%;
    left: 25%;
    }
    .span2 {
        position: absolute;
        top: 70%;
        left: 40%;
              }
        .span3 {
            position: absolute;
            top: 70%;
            left: 55%;
            }
            .bottomStyle {
              text-align: left;
              margin-top: 12%;
              margin-left: 150%;
              width: 50%;
              background-color: white;
              color: black;
              background-color: white;
              font-size: 20px;
                border: 2px solid black;
                border-radius: 5px;
                width: 600px;

            }
            .bottomStyle2 {
              text-align: left;
              margin-top: 0%;
              margin-left: 150%;
              width: 50%;
              background-color: white;
              color: black;
              background-color: white;
              font-size: 20px;
                border: 2px solid black;
                border-radius: 5px;
                width: 600px;
}
          @media only screen and (max-width: 1600px) {
                .span1 {
                    top: 70%;
                    left: 25%;
                                }
              } 
              @media only screen and (max-width: 1600px) {
                .span2 {
                    top: 92%;
                    left: 25%;
                                }
              } 
                @media only screen and (max-width: 800px) {
                .span3 {
                    top: 113%;
                    left: 25%;
                                }
              } 
              @media only screen and (max-width: 1600px) {
                .bottomStyle {
                margin-left: 10%;
                                }
                              }
                              @media only screen and (max-width: 700px) {
                                .bottomStyle {
                                  margin-top: 25%;
                                width: 300px;
                                                }
                                              }
                                                @media only screen and (max-width: 1600px) {
                                  .bottomStyle2 {
                                  margin-left: 10%;
                                                  }
                                                }
                                                @media only screen and (max-width: 700px) {
                                                  .bottomStyle2 {
                                                  width: 300px;
                                                                  }
                                                                }
                                                                  @media only screen and (max-width: 1100px) {
                                                  .span1 {
                                                      top: 70%;
                                                      left: 25%;
                                                                  }
                                                } 
                                                @media only screen and (max-width: 700px) {
                                                  .span1 {
                                                      top: 164%;
                                                      left: 25%;
                                                                    }
                                                } 
                                                @media only screen and (max-width: 700px) {
                                                  .span2 {
                                                      top: 200%;
                                                      left: 25%;
                                                                  }
                                                } 
                                                @media only screen and (max-width: 700px) {
                                                  .span3 {
                                                      top: 230%;
                                                      left: 25%;
                                                                  }
                                                } 
              
                                                .rowStyle1  {
                                                  color: blue;  
                                                  width: 600px;
                                                    }
                                                    @media only screen and (max-width: 700px) {
                                                      .rowStyle1 {
                                                          width: 300px;
                                                                      }
                                                    } 
                                                        
                                                    .rowStyle2 {
                                                      width: 600px;  
                                                        }
                                                        @media only screen and (max-width: 700px) {
                                                          .rowStyle2 {
                                                              width: 300px;
                                                                          }
                                                        } 
                                                        
                                                        .rowStyle3  {
                                                          width: 600px;  
                                                            }
                                                            @media only screen and (max-width: 700px) {
                                                              .rowStyle3 {
                                                                  width: 300px;
                                                                              }
                                                            } 
  
                                                            .contain  {
                                                            color: black;
                                                            background-color: white;
                                                            font-size: 20px;
                                                              border: 2px solid black;
                                                              border-radius: 5px;
                                                              width: 600px;
                                                          }
                                                          @media only screen and (max-width: 700px) {
                                                            .contain {
                                                                width: 300px;
                                                                            }
                                                          } 
      
                                                                    